/*font-family: 'Playfair Display', serif;
font-family: 'ZCOOL XiaoWei', serif;*/
:root {
  --blue-1: #011f4b;
  --blue-2: #03396c;
  --blue-3: #005b96;
  --blue-4: #6497b1;
  --blue-5: #b3cde0;
  --light-cream: #fff5d0;
  --compl-light-cream: #d0daff;
}

 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	font-family: 'ZCOOL XiaoWei', serif;
 }

 /*.container {
 	opacity: 1;
  	filter: alpha(opacity=100);
 }*/

 /*landing page*/


#jumbotron-section {

}

 #jumbo-land {
  height: 100vh;
  /*background-color: #333; offblack*/
  padding-top: 20%;
  border-radius: 0; /*to remove rounded corners of jumbotron*/
  
  /*background-color: #69ffc5;*/
  background-image: url("../images/Earth-bg-landing.jpg");
  
  /*opacity: 0.6;*/
  background-attachment: fixed;
  background-size: cover;
 }



#topnav {
  top: 10px;
  left: 175px;
  position: fixed;
  height: 52px;
  z-index: 3000;
}

#longbar {
  background-color: var(--blue-3);
}


.navbar2 {
  text-align: left;
  padding-right: 10%;
  width: 8.33%;
  height: 5%;
  font-size: 0.5rem;
}


 .jumbotron h1 {
 	font-family: 'Playfair Display', serif;
 	color: #f8f8f8;
 }

/*.opq {
	background-color: #ffffff;
	opacity: 1;
  	filter: alpha(opacity=100);
}*/

 .jumbotron hr {
 	background-color: #fff; /*white*/
 }


}

.btn {
 	text-decoration: none;
 	transition-duration: 0.4s;
  box-shadow: 3px 3px 5px 6px #ccc;
 }

 
 .container p {
 	color: #9a9a9a;
 }

.btn:link {
  color: #FF0000;
}

/* visited link */
.btn:visited {
  color: var(--compl-light-cream);
  opacity: 0.6;
}

/* mouse over link */
.btn:hover {
  color: var(--blue-3);
  background-color: violet;
  opacity: 0.3;
}


/* selected link */
.btn:active {
  color: var(--compl-light-cream);
  border-radius: 0.25;
  background-color: #f8f8f8;
  opacity: 0.7;
}

.navbar2:hover {
	border-radius: 15px 50px;
}


#landing-1 {
  position: fixed;
  top: 100px;
  left: 300px;
  height: 150px;
  width: 325px;
  opacity: 0.4;
  z-index: 4;
 border-radius: 15px 15px 15px 15px;
}

#landing-1:hover{
  z-index: 7;
  transition-duration: 0.4s;
  opacity: 0.95;
  border-radius: 0;
}


#landing-2 {
   position: fixed;
  top: 150px;
  left: 500px;
  height: 150px;
  width: 325px;
  opacity: 0.4;
  z-index: 5;
  border-radius: 15px 15px 15px 15px;

}

#landing-2:hover{
  z-index: 7;
  transition-duration: 0.4s;
  opacity: 0.95;
  border-radius: 0;
}

#landing-3 {
   position: fixed;
  top: 100px;
  left: 700px;
  height: 150px;
  width: 325px;
  opacity: 0.4;
  z-index: 3;
  border-radius: 15px 15px 15px 15px;
}

#landing-3:hover{
  z-index: 7;
  transition-duration: 0.4s;
  opacity: 0.95;
  border-radius: 0;
}

#heading-1 {
  z-index: 8;
}

 /*end landing page*/



/*navigation bar*/




/*end navigation*/


 /*home page*/

 #logo-nav {
  width: 55px;
  height: 45px;
 }

 #home-bg {
  z-index: 21;
  position: absolute;
  top: 100px;
  left: 300px;
  width: 40%;
  height: 70%;
  opacity: 0.7;
 }

 #welcome {
  z-index: 20;
  background-image: url("../images/amster-bg.jpg");
  background-size: cover;
  color: yellow;
  padding: 20%;
  left: 20px;
 }

 #welcome-2 {
  z-index: 20;
  background-image: url("../images/china-bg.jpg");
  background-size: cover;
  color: var(--blue-4);
  padding: 20%;
  left: 20px;

 }


#home-1 {
  z-index: 9;
  position: absolute;
  top: 80px;
  left: 200px;
  width: 20%;
  height: 25%;
  opacity: 0.4;
  border-radius: 15px 15px 15px 15px;
}

#home-1:hover{
  z-index: 15;
  transition-duration: 0.1s;
  opacity: 0.9;
  border-radius: 0;
}

#home-2 {
  z-index: 8;
  position: absolute;
  top: 200px;
  left: 60px;
  width: 20%;
  height: 25%;
  opacity: 0.4;
  border-radius: 15px 15px 15px 15px;
}

#home-2:hover{
  z-index: 15;
  transition-duration: 0.1s;
  opacity: 0.9;
  border-radius: 0;
}


#home-3 {
  z-index: 7;
  position: absolute;
  top: 40px;
  left: 300px;
  width: 20%;
  height: 25%;
  opacity: 0.4;
  border-radius: 15px 15px 15px 15px;
}

#home-3:hover{
  z-index: 15;
  transition-duration: 0.1s;
  opacity: 0.9;
  border-radius: 0;
}

#home-4 {
  z-index: 6;
  position: absolute;
  top: 320px;
  right: 200px;
  width: 20%;
  height: 25%;
  opacity: 0.4;
  border-radius: 15px 15px 15px 15px;
}

#home-4:hover{
  z-index: 15;
  transition-duration: 0.1s;
  opacity: 0.9;
  border-radius: 0;
}

#home-5 {
  z-index: 6;
  position: absolute;
  top: 200px;
  right: 100px;
  width: 20%;
  height: 25%;
  opacity: 0.4;
  border-radius: 15px 15px 15px 15px;
}

#home-5:hover{
  z-index: 15;
  transition-duration: 0.1s;
  opacity: 0.9;
  border-radius: 0;
}

#home-6 {
  z-index: 6;
  position: absolute;
  top: 100px;
  right: 50px;
  width: 20%;
  height: 25%;
  opacity: 0.4;
  border-radius: 15px 15px 15px 15px;
}

#home-3:hover{
  z-index: 15;
  transition-duration: 0.1s;
  opacity: 0.9;
  border-radius: 0;
}


.carou-width {
  width: 90%;
  align-content: center;
}

#carousel-home {
	height: 80vh;
}

#carousel-home img {
	height: 50vh;
	max-height: 50vh;
	object-fit: contain;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: #aacc83;
  border-radius: 50%;
  background-color: rgba(248,248,248,0.6);
  border: 1px solid #9a9a9a;
  /*background-image: none;*/
}

.carousel-control-next-icon:visited {
  color: #4e8d07;
  opacity: 0.6;
}

.carousel-control-prev-icon:visited {
 color: #4e8d07;
  opacity: 0.6;
}


.carousel-control-next-icon:hover {
  background-color: #9a9a9a;
  opacity: 0.3;
}

.carousel-control-prev-icon:hover {
	background-color: #9a9a9a;
  opacity: 0.3;
}

.carousel-control-prev-icon:active {

background-color: #f8f8f8;
  opacity: 0.7;
}

.carousel-control-next-icon:active {

 background-color: #f8f8f8;
  opacity: 0.7;
}

/*end home page*/



/*about page*/
#jumbotron-about {
  background-color: #141414; /*off black*/
  height: 90vh;
  border-radius: 0;

}


#landing-about {
  color: #f2f2f2; /*white*/
  font-size: 5em; /*1em=16px*/
  letter-spacing: 5px;
  font-family: 'Playfair Display', serif;
  padding-top: 20vh;

}

#mission {
  height: 100%;
  background-color: #141414; /*off black*/
  color: #f2f2f2; /*off-white*/
}

#vision {
  height: 100%;
  background-color: #f2f2f2;
  color: #141414;
}

.about-tags {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}


#photog-1 {
  height: 200px;
  width: 200px;

}


#photog-2 {
  height: 200px;
  width: 200px;
  
}


#photog-3 {
  height: 200px;
  width: 200px;
  
}
/*end about page*/


/*gallery page*/
#head-gall {
  margin-top: 8%;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  background-color: #141414;
  color: #f2f2f2;
}

.anchor-1 {
  display: block;
  width: 4.5em;
  height: 3em;
  font-size: 1em;
  text-align: center;
}

/*.active {
  background-color: indianred;
  border-bottom: 3px solid black;
}*/


.bg-danger, .bg-primary {
  transition: 2s;
}

#gallery-items .card {
  height: 250px;
  margin-bottom: 50px;
}

/*end gallery page*/


@media only screen and (max-width: 400px) {

#topnav {
  top: 10px;
  left: 125px;
  position: fixed;
  height: 52px;
  z-index: 3000;
}


}


@media only screen and (min-width: 401px) and (max-width: 960px) {


#home-1 {
  z-index: 9;
  position: absolute;
  top: 80px;
  left: 200px;
  width: 20%;
  height: 25%;
  opacity: 0.4;
  border-radius: 15px 15px 15px 15px;
}

#home-2 {
  z-index: 9;
  position: absolute;
  top: 80px;
  left: 200px;
  width: 20%;
  height: 25%;
  opacity: 0.4;
  border-radius: 15px 15px 15px 15px;
}

#home-3 {
  z-index: 9;
  position: absolute;
  top: 80px;
  left: 200px;
  width: 20%;
  height: 25%;
  opacity: 0.4;
  border-radius: 15px 15px 15px 15px;
}

#home-4 {
  z-index: 9;
  position: absolute;
  top: 80px;
  left: 200px;
  width: 20%;
  height: 25%;
  opacity: 0.4;
  border-radius: 15px 15px 15px 15px;
}



}



@media only screen and (min-width: 961px) {

}